.bubble p {
  margin: 2px;
}
.bubble {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
#user .bubble {
  background: #00e2ff; border-radius:15px;
}
#botline {

}
#bot .bubble {
  background: #1c72d7; border-radius:15px; color:white;
}
#userline {

}
